<h1>PDF Teste - <%= @client.name %></h1>
<p>Telefone: <%= @client.phone_number %></p>

<% if @diets.any? %>
  <h2>Dietas:</h2>
  <% @diets.each do |diet| %>
    <h3><%= diet.name %> </h3>
    
    <% if diet.diet_foods.any? %>
      <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr>
          <th>Quantidade</th>
          <th>Alimento</th>
          <th>Calorias</th>
        </tr>
        <% diet.diet_foods.each do |diet_food| %>
          <tr>
            <td><%= diet_food.quantity_grams %>g</td>
            <td><%= diet_food.food.name %></td>
            <td><%= diet_food.calories.round(1) %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Nenhum alimento nesta refeição.</p>
    <% end %>
  <% end %>
<% else %>
  <p>Nenhuma dieta cadastrada.</p>
<% end %>

<h2>Resumo do Dia:</h2>
<p>Total de Calorias: <%= @daily_totals[:calories].round(1) %></p>
